<!DOCTYPE html>
<html>
    <head>    
    
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.css">
        <script src="https://kit.fontawesome.com/16139588c8.js" crossorigin="anonymous"></script>
        <style>
            .back-img-round-neck{
                background-image: url("/storage/app/public/home_banners/tshirt_banner.jpg");
                background-size: cover;
                height: 30em;
            }
        </style>
    </head>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-12 back-img-round-neck">

                </div>
            </div>
        </div>
    <body>




        <script type="text/javascript" src="/resources/js/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/resources/js/bootstrap.js"></script> 
    </body>
</html>